.page[data-v-15d97868]{background-color:unset!important}.box[data-v-15d97868]{flex:1;display:flex;justify-content:center;align-items:center;flex-direction:column}.txt[data-v-15d97868]{font-size:18px;color:var(--el-text-color-secondary)}
