.page[data-v-aeb19a3f]{background-color:unset!important}.box[data-v-aeb19a3f]{flex:1;display:flex;justify-content:center;align-items:center;flex-direction:column}.txt[data-v-aeb19a3f]{font-size:18px;color:var(--el-text-color-secondary)}
