.page[data-v-9bc9f452]{background-color:unset!important}.box[data-v-9bc9f452]{flex:1;display:flex;justify-content:center;align-items:center;flex-direction:column}.txt[data-v-9bc9f452]{font-size:18px;color:var(--el-text-color-secondary)}
