.van-action-bar-icon[data-v-1467b5c1]{width:24.5%}.stamp[data-v-1467b5c1]{position:absolute;top:0px;right:50px;width:80px;height:80px;background-image:url(./tg-ea6dbc4b.png);background-size:cover;background-position:center;z-index:2}
